* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #415a6b;
	font-family: 'Lato', sans-serif;
	font-size: 3vmin;
	transition: all .5s ease;
}
*::-webkit-scrollbar {
	display: none;
}
nav ul {
	display: flex;
	align-items: center;
	padding: 0 4vh;
	position: fixed;
	top: 2vh;
	left: 2vh;
	height: 8vh;
	background-color: #8ad7f8;
	z-index: 1000;
	border-radius: 200em;
	max-width: calc(100vw - 4vh);
}
li {
	list-style-type: none;
}
nav li {
	padding: 2vh;
}
a {
	text-decoration: none;
}
button {
	background-color: transparent;
    border: none;
}
#logo img {
	height: 6vh;
}
header {
	background-color: #8ad7f8;
	height: 100vh;
	padding-top: 10vh;
	display: flex;
	align-items: center;
	background-size: auto 80vh;
	background-position: right 7.5vh bottom;
	background-repeat: no-repeat;
	background-image: url(house.svg)
}
header div {
	width: 75vw;
	padding: calc(13vw - 10vh) 18vw 13vw 6vw;
}
h1,h2 {
	font-family: 'Concert One', cursive;
}
header h1 {
	font-size: 10vmin;
}
header h2 {
	font-size: 6vmin;
	max-width: 40vw;
}
header img {
	position: absolute;
	top: 87.5vh;
	left: 46.25vw;
	height: 7.5vh;
	width: 7.5vw;
}

main {
	background-color: #ffd15c;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10vh;
	padding: 10vh;
	min-height: 100vh;
	align-items: end;
}
article h1 {
	font-size: 8vmin;
	margin-bottom: 5vh;
}

#pricing {
	grid-column: 1 / span 3;
	margin-top: -10vh;
    padding-top: 10vh;
    min-height: 90vh;
}
#pricing > ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 10vh;
}
#pricing > ul > li {
	border-radius: 5vh;
	background-color: #f7b64c;
	min-height: 75vh;
	display: grid;
	justify-content: center;
	align-content: center;
	max-width: 50vw;
}
#pricing h2, #pricing img, #pricing h3 {
	text-align: center;
	padding: 1vh;
}
#pricing h2 {
	font-size: 8vmin;
}
#pricing img {
	height: 10vh;
	margin: 0 auto;
}
#pricing h3 {
	font-size: 5vmin;
}
#pricing ul ul {
	margin: 1vh;
}
#pricing ul ul li {
	list-style-type: circle;
	list-style-position: inside;
}

footer {
	background-color: #f3705a;
	padding: 10vh;
	display: grid;
	grid-gap: 1vh;
	grid-template-columns: auto auto auto;
}
footer * {
	color: #344a5e;
}
@media screen and (max-device-aspect-ratio: 8/5) {
	header img {
		left: 6vw;
		width: auto;
	}
	footer {
		grid-template-columns: 1fr;
	}
	#pricing > ul {
		grid-template-columns: 1fr;
		justify-items: center;
	}
	#pricing > ul > li {
		width: 50vw;
	}
}
@media screen and (max-device-aspect-ratio: 4/3) {
	header div {
		width: 100vw;
		padding-left: 13vw;
		padding-right: 13vw;
	}
	header h2 {
		max-width: 100%;		
	}
	header img {
		left: 13vw;
	}
	main {
		grid-template-columns: 1fr;
	}
	#pricing {
		grid-column: 1 / span 1;
	}
}
@media screen and (orientation: portrait) {
	header img {
		left: auto;
		right: 13vw;
	}
	#pricing > ul > li {
		width: calc(100vw - 20vh);
		max-width: calc(100vw - 20vh);
	}
	nav ul {
		width: calc(100vw - 4vh);
		justify-content: space-between;
	}
	footer * {
		text-align: center;
	}
}
@media screen and (max-device-aspect-ratio: 2/3) {
	* {
		font-size: 3vmax;
	}
	nav ul {
		flex-direction: column;
	}
	.opened ul {
		height: auto;
		border-radius: 5vh;
	}
	nav li {
		padding: 3.5vh;
	}
	#logo {
		padding: 1vh;
		height: 8vh !important;
	}
	nav .link {
		display: block;
		height: 0;
		overflow: hidden;
	}
	.opened .link {
		height: auto;
	}
	nav a {
		font-size: 3vmax;
	}
}